.signin {
    max-width: var(--app-width);
    height: 100vh;
}

h1 {
    color: var(--black);
}

h4 {
    text-transform: none;
    padding-bottom: 2rem;
}

.googleButtonContainer {
    border-radius: 30px;
    background-color: rgb(217,217,217);
    margin: auto;
    width:20rem;

}
