header{
text-align: center;
background-color: #1d7dccbf;
width: 85%;
margin: 0 auto;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li{
    
    line-height: 5;
    display: inline-block;
    margin-right: 1rem;
    min-width: 12vw;
    height: 80px;
    text-decoration: none;  
}

li > a{
    text-decoration: none;
    color:red;
    display: block;
}

li >  a:hover{
    border: 3px white double;
    opacity: 0.7;
    color:snow;
}

a.active{
    color: snow;
    border: 3px white double;
    border-radius: 10px;
}

@media only screen and (max-width: 766px) {
    .nav-item{
      width: 100%;
      margin: 0 auto;
    }
  
    
  }
  
